body {
    padding-top: 10vh;
}

#cart {
    margin: 3vw;
}

.case {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.case>img {
    width: 150px;
    height: 150px;
}

.case>div>h4 {
    font-size: 25px;
}

.case>p {
    font-size: 20px;
    padding-top: 12%;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    width: 100%;
}

.info>p {
    font-style: italic;
}

.info>img:hover {
    opacity: 0.5;
}

.info>img {
    width: 8%;
}

.quantity {
    margin-top: 15px;
    height: 15px;
    width: 30px;
}

.listCart {
    margin: 5vh;
    height: 60vh;
    overflow-y: scroll;
}

#cart>p {
    border: solid 3px black;
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 10%;
    text-align: center;
    margin-left: 80vw;
    font-size: 20px;
}

#cart>h1 {
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    width: 100%;
}

.formulaire {
    /* border : solid 2px black; */
    border-radius: 10%;
    width: 75vw;
    display: flex;
    justify-content: space-around;
    margin: 5%;

}

label {
    display: block;
    width: 140px;
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

input {
    margin-left: 170px;
    display: block;
    width: 150px;

}

.formulaire>h4 {
    text-align: left;
}

.recap>div {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.recap>div>p:nth-child(1n) {
    font-weight: 600;
    width: 800px;
    padding-left: 30px;
}

.recap>div>p:nth-child(2n) {
    font-weight: 200;
    font-style: italic;
}

.recap>div>p:nth-child(3n) {
    font-weight: bold;
    font-style: italic;
}

.recap>.Titre {
    border-bottom: solid 3px black;
}

.ptotalFinal {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}

.buy {
    margin-left: 80vw;
}