body{
    padding-top: 10vh;
}

#cart{
    margin: 3vw;
}

.case{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.case > img{
    width: 150px;
    height: 150px;
}

.case > div > h4{
    font-size: 25px;
}

.case > p{
    font-size: 20px;
    padding-top: 12%;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    width: 100%;
}

.info>p{
    font-style: italic;
}

.info>img:hover{
    opacity: 0.5;
}

.info>img{
    width: 8%;
}

.quantity{
    margin-top: 15px;
    height: 15px;
    width: 30px;
}

.listCart{
    margin: 5vh;
    height: 80vh;
    overflow-y: scroll;
}

#cart>p{
    border:solid 3px black;
    color: white;
    background-color: black;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    margin-left: 80vw;
    font-size: 20px;
}

#cart>h1{
    font-size: 30px;
}

.formulaire {
    border : solid 2px black;
    border-radius : 10%;
    width : 350px;
    display : flex;
    flex-direction: column;
    justify-content: center;

    
}

label{
    display: block;
    width: 130px;
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

input{
    margin-left: 170px;
    display: block;
	width: 150px;

}

h4{
    text-align: center;
}

.bouton{
    margin-right: 10px;
    display: block;
    border-radius: 10%;
    margin-bottom: 10px;
}
